// Pseudo button
// -------------
// Use the same padding as a default button,
// for use in situations where a cancel link
// sits next to a button.

button {
  @include user-select(none);
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  color: $button-text-color;
  background: $button-default;
  border: 1px solid #5C0A0A;
  border-radius: 3px;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $button-text-color;
    background-color: darken($button-default, 10%);
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
  }

  // Button modifiers

  &--full {
    display: block;
    width: 100%;
  }

}

.button-pseudo {
  display: inline-block;
  padding: 8px 0;
  line-height: normal;
  vertical-align: middle;
  background: transparent;
  border: 0;

  .button + & {
    margin-left: $default-whitespace;
  }
}
