.logo {
  display: block;
  background-image: url(/images/logo.svg);
  background-size: 113px 69px;
  background-repeat: no-repeat;
  width: 100%;
}

.nav-bar--compressed {
  .logo {
    background-image: url(/images/logo-small.svg);
    background-size: 24px 28px;
    background-repeat: no-repeat;
  }
}
