@import url(http://fonts.googleapis.com/css?family=Tienne:400,700|Muli:300,400,400italic);

@import 'normalize';
@import 'bourbon';

@import 'base/settings';
@import 'base/base';
@import 'base/forms';
@import 'base/links';
@import 'base/headings';

@import 'layout/containers';

@import 'modules/board';
@import 'modules/logo';
@import 'modules/sidebar';
@import 'modules/cheatsheet';
@import 'modules/share';
@import 'modules/buttons';

@import 'themes/default/box';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-bar {
  @include clearfix;
  transition: height 0.25s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 110px;

  &--compressed {
    height: 52px;

    .nav-bar__links {
      font-size: 14px;
      padding: 1.15em 0;
    }

    .nav-bar__logo-wrapper {
      width: 24px;
      height: 28px;
    }
  }

  &__links {
    transition: padding 0.25s ease-out, font-size 0.25s ease-out;
    float: right;
    padding: 2.25em 0;
    > a {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0.25em;
      font-family: $sans-serif-font-stack;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  &__logo-wrapper {
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding: 0.75em 0;
    width: 113px;
    height: 100%;
  }

  &__logo {
    height: 69px;
  }
}
