@import url(http://fonts.googleapis.com/css?family=Tienne:400,700|Muli:300,400);
@import "normalize";
@import "bourbon";
@import "base/settings";
@import "base/base";
@import "base/links";
@import "layout/containers";
@import "modules/board";
@import "modules/logo";
@import "modules/sidebar";
@import "themes/default/box";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-bar {
  @include clearfix;
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  &__links {
    float: right;
    padding: 2.25em 0;
    > a {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0.25em;
      font-family: $sans-serif-font-stack;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  &__logo-wrapper {
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding: 0.75em 0;
    width: 113px;
    height: 100%;
  }

  &__logo {
    height: 69px;
  }
}
