.box {

  font-family: Muli;
  font-size: 18px;
  line-height: 37px;

  &--light1, &--light2, &--light3, &--light4 {
    color: #000000;
  }

  &--dark1, &--dark2, &--dark3, &--dark4 {
    color: #F4F4F4;
  }

  &--dark1 {
    background: #CC4242;
    border: 2px solid #240B0B;
  }

  &--light1 {
    background: #E5B2B2;
    border: 2px solid #651F1F;
  }


  &--dark2 {
    background: #6794CA;
    border: 2px solid #1A395E;
  }

  &--light2 {
    background: #94C4FF;
    border: 2px solid #051528;
  }

  &--dark3 {
    background: #A39D5A;
    border: 2px solid #2C2B26;
  }

  &--light3 {
    background: #F4E854;
    border: 2px solid #4F4B1C;
  }

  &--dark4 {
    background: #629133;
    border: 2px solid #1A3102;
  }

  &--light4 {
    background: #95C664;
    border: 2px solid #27341A;
  }

  &--black {
    background: #262525;
    border: 2px solid #000000;
  }

  &--white {
    background: #FFFFFF;
    border: 2px solid #353535;
  }

}
