$background-color: #F9F6F6;

$serif-font-stack: Tienne, serif;
$sans-serif-font-stack: Muli, sans-serif;

$red: #CC4242;
$blue: #6794CA;
$black: #424141;

$default-border-color: lighten($black, 25%);
$default-whitespace: 1em;

$button-text-color: white;
$button-default: $red;
