body {
  font-family: $serif-font-stack;
  font-size: 18px;
  background-color: $background-color;
}

header, .header {
  vertical-align: middle;
}

footer {
  padding: 0.25em;
  text-align: center;
}
